@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Launches {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.AllLaunchesLoaded {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  margin-top: 0;
}

@media (max-width: 950px) {
  .Launches {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .Launches {
    margin-left: 0;
  }
}
